body {
    background: #f7f6f6;
}

.topMenu {
    background: #707070;
    color: black;
}
.mainHeader {
    color: white;
    background: black;
    margin-bottom: 40px;
}

.sectionHeader {
    color: #1b6ab9;
    font-size: 26px;
}

.thirdHeader {
    color: #4BB3FD
}

.diaryHeader {
    color: white;
    background: blue;
}

.paragraph {
    color: darkblue;
    padding: 0 16px 10px 16px;
    border-bottom: 3px dotted #82db0e;
    border-radius: 25px;
}

.dayMonday {
    color: #8b8b8b;
}

.dayTuesday {
    color: #004200;
}

.dayWednesday {
    color: #807f7f;
}

.dayThursday {
    color: #ff9100;
}

.dayFriday {
    color: #700101;
}

.dayHtml {
    color: #020286;
}

.link {
    color: #A2D729;
}
.about {
    
}

.main {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: 30px auto;
}